<!doctype html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/books">Books</a></li>
        <li><a href="/books/createBook">Create Book</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="#" class="logout">Logout</a></li>
    </ul>
</nav>
<h1>Books</h1>
<div id="search-results"></div>
<div id="user-posts"></div>
<div id="pagination"></div>

<div id="pagination-container" class="pagination"></div>

<script src="/js/auth/userChecker.js"></script>
<script src="/js/books/books.js"></script>

</body>
</html>