<!doctype html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

<div class="container">
    <h1>Home Page</h1>
    <a class="link" href="user/login">Login</a>
    <br>
    <a class="link" href="user/register">Register</a>
</div>

</body>
</html>