<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset Your Password</h1>

<form id="resetForm">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" required>
    <button type="submit">Submit</button>
</form>

<a href="/user/login">Back to Login</a>

<script src="/js/resetPassword.js">


</script>
</body>
</html>
