<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/books">Books</a></li>
        <li><a href="/books/createBook">Create Book</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="#" class="logout">Logout</a></li>
    </ul>
</nav>
<h2>Edit Profile</h2>
<form id="editProfileForm">
    <div class="row"><label for="userName">User Name</label>
        <input type="text" name="userName" placeholder="User Name"/></div>

    <div class="row"><label for="email">Email</label>
        <input type="email" name="email" placeholder="Email"/> <br>
        <button type="submit">Save</button>
    </div>

</form>

<script src="/js/auth/userChecker.js"></script>
<script src="/js/users/updateUser.js"></script>
</body>
</html>